{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}
{% block content %}
<div class="container shadow mt-3">
    <br>
    <h2 class="text-center bg-success text-white">Contact Us</h2>
    <hr>
    <br>
    <div class="row container ">
        <p class=" fs-4  ">Address: Kuril,Dhaka,Bangladesh</p>
        <p class=" fs-4  ">Email: jannat@gmail.com </p>
        <p class=" fs-4  ">Phone: 01917007564 </p>
        <p class=" fs-4  ">Customer Service: +85468544555,+435524454417 </p>

    </div>


</div>
<br>

{% endblock content%}
<br>
<br>
<br>